*.pyc
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/starter-python-bot.iml
.idea/workspace.xml
bot/.idea/misc.xml
bot/.idea/vcx.xml
bot/.idea/modules.xml
bot/.idea/workspace.xml
bot/.hypothesis/*
.idea/galatea-hal-casey.iml
